<h3><a href="#/tournaments/{{tournament.id}}/">{{tournament.name}}</a> - pairings, kierros {{round}}</h3>
<table class="pairings-table">
  <thead>
    <tr>
      <th class="table" ng-click="sort = 'table_number'">
        <i class="left glyphicon glyphicon-chevron-down" ng-class="{'inactive': sort != 'table_number'}"></i>
        Pöytä
      </th>
      <th class="players" ng-click="sort = 'team1_name'">
        <i class="left glyphicon glyphicon-chevron-down" ng-class="{'inactive': sort != 'team1_name'}"></i>
        <span class="hidden-xs">Pelaaja 1</span>
        <span class="hidden-sm hidden-md hidden-lg">Pelaajat</span>
      </th>
      <th class="players2 hidden-xs">
        Pelaaja 2
      <th class="points">
        Pisteet
      </th>
      <th class="result">
        Tulos
      <th>
    </tr>
  </thead>
  <tbody>
    <tr ng-class="{'even': $even, 'odd': $odd}" ng-repeat="p in pairings | orderBy:sort">
      <td class="table">{{p.table_number}}</td>
      <td class="players">
        {{p.team1_name}}<br class="hidden-sm hidden-md hidden-lg"><span class="hidden-sm hidden-md hidden-lg" ng-class="{'opponent': sort == 'team1_name'}">{{p.team2_name}}</span>
      </td>
      <td class="players2 hidden-xs">
        <span ng-class="{'opponent': sort == 'team1_name'}">{{p.team2_name}}</span>
      </td>
      <td class="points">
        {{p.team1_points}}<span class="hidden-xs"> - </span><br class="hidden-sm hidden-md hidden-lg"><span ng-class="{'opponent': sort == 'team1_name'}">{{p.team2_points}}</span>
      </td>
      <td class="result">
        {{p.team1_wins}}<span class="hidden-xs"> - </span><br class="hidden-sm hidden-md hidden-lg"><span ng-class="{'opponent': sort == 'team1_name'}">{{p.team2_wins}}</span>
      </td>
    </tr>
  </tbody>
</table>
