<h3><a href="#/tournaments/{{tournament.id}}/">{{tournament.name}}</a> - pods {{number}}</h3>
<table class="pods-table">
  <thead>
  <tr>
    <th class="pod" ng-click="sort = 'pod'">
      <i class="left glyphicon glyphicon-chevron-down" ng-class="{'inactive': sort != 'pod'}"></i>
      Pod
    </th>
    <th class="seat">
      Paikka
    </th>
    <th class="player" ng-click="sort = 'team_name'">
      <i class="left glyphicon glyphicon-chevron-down" ng-class="{'inactive': sort != 'team_name'}"></i>
      Pelaaja
    </th>
  </tr>
  </thead>
  <tbody>
  <tr ng-class="{'even': $even, 'odd': $odd}" ng-repeat="p in pods | orderBy:[sort, 'seat']">
    <td class="pod">{{p.pod}}</td>
    <td class="seat">{{p.seat}}</td>
    <td class="player">{{p.team_name}}</td>
  </tr>
  </tbody>
</table>
