<h3><a href="#/tournaments/{{tournament.id}}/">{{tournament.name}}</a> - standings, kierros {{round}}</h3>
<table class="standings-table">
  <thead>
    <tr>
      <th class="rank">
        Sija
      </th>
      <th class="players">
        Pelaaja
      </th>
      <th class="points">
        Pisteet
      </th>
      <th class="omw">
        OMW
      </th>
      <th class="pgw">
        PGW
      </th>
      <th class="ogw">
        OGW
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-class="{'even': $even, 'odd': $odd}" ng-repeat="s in standings">
      <td class="rank">{{s.rank}}</td>
      <td class="players">
        {{s.team_name}}
      </td>
      <td class="points">
        {{s.points}}
      </td>
      <td class="omw">
        {{s.omw | round:3}}
      </td>
      <td class="pgw">
        {{s.pgw | round:3}}
      </td>
      <td class="ogw">
        {{s.ogw | round:3}}
      </td>
    </tr>
  </tbody>
</table>