<html ng-app="pairings">
<head>
  <script src="js/lib/lodash.js"></script>
  <script src="js/lib/jquery-2.0.3.js"></script>
  <script src="js/lib/angular.js"></script>
  <script src="js/lib/angular-route.js"></script>
  <script src="js/lib/angular-resource.js"></script>
  <script src="js/lib/angular-touch.js"></script>
  <script src="js/lib/angular-ui-bootstrap.js"></script>
  <script src="js/lib/angular-local-storage.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/resources.js"></script>
  <script src="js/app.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/main.css"> 
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css"> 
  <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
</head>
<body id="menu" ng-controller="OrganizerMenuController">
  <form class="form-inline">
    <a ng-click="close()"><i class="glyphicon glyphicon-resize-small"></i>&nbsp;</a>
    <button ng-click="showPairings()" class="btn" ng-class='{"btn-success": newPairings, "btn-default": !newPairings}'>Pairings</button>
    <select class="form-control" ng-model="pairings_round" ng-options="round for round in pairing_rounds"></select>
    <button ng-click="showStandings()" class="btn" ng-class='{"btn-success": newStandings, "btn-default": !newStandings}'>Standings</button>
    <select class="form-control" ng-model="standings_round" ng-options="round for round in standings_rounds"></select>
    <button ng-click="showSeatings()" class="btn btn-default">Seatings</button>
    <button ng-click="showClock()" class="btn btn-default">Kello</button>
    <input class="form-control" type="number" ng-model="minutes" min="0" max="99">
    <button ng-click="setClock()" ng-disabled="running" class="btn btn-default">Aseta</button>
    <button ng-click="startClock()" ng-disabled="running" class="btn btn-success">Käynnistä</button>
    <button ng-click="stopClock()" ng-disabled="!running" class="btn btn-danger">Pysäytä</button>
  </form>
</body>
</html>