html {
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-size: 14px;
  line-height: 1.42857143;
}

* {
  font-family: Roboto, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
  line-height: 1.1;
}

a {
  color: #337ab7;
  text-decoration: none;
}

th {
  text-align: left;
}

table {
  border-spacing: 0;
}

td, th {
  padding: 0;
  border-collapse:collapse;
}

.even {
  background-color:#e6e6e6;
}
.odd {
  background-color:#ffffff;
}

.pairing .table-number, .seating .table-number, .seat .seat-number, .seat .pod-number {
  display: inline-block;
  text-align:center;
  font-weight: bold;
  color: #424242;
  float:left;
}

.mui-pairing .names {
  display: inline-block;
}

.mui-pairing .points {
  float: right;
}

.opponent {
  color:#848484;
}

.pairings-table, .standings-table, .pods-table {
  width:100%;
}

.pairings-table th {
  position: relative;
}

.pairings-table th.players {
  padding-left: 30px;
}

.pairings-table .left {
  position:absolute;
  left:0;
}

.pairings-table .table,
.pods-table .pod,
.pods-table .seat {
  width: 100px;
  text-align: center;
}

.pairings-table .points, .pairings-table .result {
  width:60px;
  text-align: center;
}

.standings-table .points, .standings-table .rank {
  width:50px;
  text-align: center;
}

.standings-table .pgw, .standings-table .ogw, .standings-table .omw {
  width: 70px;
  text-align: center;
}

#bracket {
  margin-left: 10px;
}

#bracket .bracket-round {
  display: inline-block;
  vertical-align: top;
}

#bracket .bracket-match .team {
  padding: 20px 20px 0 10px;
  line-height: 20px;
  min-width: 200px;
}

#bracket .bracket-match .team span {
  vertical-align: bottom;
}

#bracket .bracket-match .team2 {
  border-top: 1px solid #333;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
}

#bracket .bracket-match .winner {
  font-weight: bold;
}

#bracket .bracket-match .rank {
  color: #999;
  margin-right: 10px;
}

#bracket .bracket-match .wins {
  float: right;
  margin-left: 10px;
}

#bracket .bracket-round.matches-4 .team {
  height: 44px;
  padding-top: 20px;
}

#bracket .bracket-round.matches-2 .team {
  height: 88px;
  padding-top: 66px;
}

#bracket .bracket-round.matches-2 {
  margin-top: -22px;
}

#bracket .bracket-round.matches-1 .team {
  height: 176px;
  padding-top: 154px;
}

#bracket .bracket-round.matches-1 {
  margin-top: -66px;
}

h3 {
  font-size:20px !important;
}

#organizer-page {
  font-family: Lato, Helvetica, sans-serif;
}

#organizer-page h2 {
  text-align: center;
  margin-top: 0;
}

#organizer-page .column {
  column-width: 470px;
  column-gap: 10px;
}

.organizer-standings .standings-table {
  width: 470px;
}

.organizer-standings .standings-table thead {
  display: none;
}

.organizer-pairings .pairing, .organizer-seatings .seating, .organizer-standings td, .organizer-pods .pod {
  height: 24px;
  width: 470px;
}

.organizer-pairings .pairing .names, .organizer-pairings .pairing .table-number, .organizer-pairings .pairing .points,
.organizer-seatings .seating .table-number, .organizer-seatings .seating .name, .organizer-standings td,
.organizer-pods .seat .name, .organizer-pods .seat .pod-number, .organizer-pods .seat .seat-number {
  line-height:24px;
  font-size:17px;
}

.organizer-seatings .seating .name {
  text-align: left;
}

.organizer-pairings .pairing .table-number,
.organizer-seatings .seating .table-number,
.organizer-pods .seat .pod-number,
.organizer-pods .seat .seat-number {
  width: 40px;
  font-size:20px;
}

.organizer-pods .seat .name {
  display: inline-block;
  width: 390px;
}

.organizer-pairings .pairing .names {
  display: block;
  text-align: left;
  width: 470px;
  padding-left: 40px;
  height: 24px;
}

.organizer-pairings .pairing .names .player {
  display: inline-block;
  width: 215px;
  padding-right: 25px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
}

.organizer-pairings .pairing .names .points {
  display: inline-block;
  width: 25px;
  position: absolute;
  text-align: center;
  right: 0;
}

#organizer-menu {
  padding-left:10px;
  height:40px;
  font-size:20px;
  border-bottom: 1px solid #424242;
}

#organizer-menu a, #menu a {
  color: green;
  text-decoration: none !important;
  cursor: pointer;
  font-size: 20px;
}

#organizer-menu div.form-inline > * {
  margin-right: 5px;
  margin-top: 2px;
}

.organizer-clock {
  color: green;
  font-size: 32vw;
  font-weight: bold;
  text-align: center;
}

.organizer-clock.timeout {
  color: red;
}

.pager {
  margin: 10px;
}

.tournament {
  margin-left: 10px;
}

.tournament-row {
  margin-bottom: 10px;
}

.tournament-row a {
  margin-right: 10px;
  width: 100px;
}

.tournament-row a.wide {
  width: 210px;
}

.filters .filter {
  display: inline-block;
  position: relative;
  margin-left: 10px;
  vertical-align: bottom;
}

.filters .date-filter {
  width: 280px;
  height: 60px;
  padding-top: 8px;
}

.filters .player-filter {
  width: 200px;
  height: 60px;
  padding-top: 24px;
}

.filters .filter .filter-label {
  position: absolute;
  top:0;
  left:0;
  color: rgba(0, 0, 0, 0.3);
  font-size:12px;
}

.date-picker {
  position: relative;
  display: inline-block;
}

.date-picker .clear-selection {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 2;
  height: 14px;
  width: 14px;
  color: grey;
  cursor: pointer;
}

.date-picker .date-picker-container {
  position: absolute;
  left: 0;
  top: 20px;
  background-color: white;
  border: 1px solid #337ab7;
}

#deck-construction .pod {
  display: inline-block;
  min-width: 30%;
  font-size: 18px;
}

#deck-construction .pod .table {
  width: 40px;
  display: inline-block;
}

#coverage {
}

#coverage .standings-table, #coverage .pairings-table {
  width: 40%;
  vertical-align: top;
  float:left;
  margin-right:50px;
}

.popover {
  min-width:600px !important;
}

.hidden {
  display: none;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

@media (max-width: 767px) {
  .pairing .table-number {
    line-height: 60px;
    width:60px;
    font-size: 40px;
  }

  .pairing {
    height: 80px;
  }

  .pairing.no-round {
    height: 60px;
  }

  #bracket h3 {
    margin-bottom: 0;
  }

  #bracket {
    padding-bottom: 20px;
  }
}

@media (max-width: 767px) and (orientation: portrait) {
  #bracket .bracket-round.matches-2 .team,
  #bracket .bracket-round.matches-1 .team {
    height: 44px;
    padding-top: 20px;
  }

  #bracket .bracket-round.matches-2,
  #bracket .bracket-round.matches-1 {
    margin-top: 0;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  #bracket .bracket-round h3 {
    display: none;
  }
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-chevron-down:before {
  content: "\e114";
}
.glyphicon-chevron-right:before {
  content: "\e080";
}
.glyphicon-resize-full:before {
  content: "\e096";
}
.glyphicon-circle-remove:before {
  content:"\e088";
}
