html, body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #eeeeee;
}

* {
  font-family: Lato, Helvetica, sans-serif;
}

#header input[type=number]::-webkit-inner-spin-button,
#header input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#header {
  background-color: #333333;
  color: #eeeeee;
  border-bottom: 1px solid #000000;
  height:60px;
  font-size: 20px;
}

#header span {
  line-height: 60px;
  float:left;
  margin-left: 10px;
}

#header a {
  line-height: 60px;
  margin-right: 10px;
}

#header > div {
  height:100%;
  position:relative;
}

#header button, #header input[type="submit"] {
  border:0;
  background-color: #424242;
  color: #eeeeee;
  height:40px;
  line-height: 40px;
  text-align: center;
  padding:0 10px;
  font-size: 18px;
  margin-top: 10px;
  margin-right: 10px;
  float:right;
}

#header input[type="text"], #header input[type="number"] {
  height:40px;
  padding: 0 8px;
  background-color: #333333;
  color: #eeeeee;
  border: 2px solid #eeeeee;
  font-size: 18px;
  line-height: 32px;
  margin-top: 10px;
  margin-left: 10px;
  float:left;
}

.pairing {
  clear:left;
  border-left: 1px solid #eeeeee;
  margin-left:20px;
}

.pairing h4 {
  height: 20px;
  line-height: 20px;
  font-size:16px;
  margin:0;
}

.even {
  background-color:#eeeeee;
}
.odd {
  background-color:#ffffff;
}

.pairing .table-number {
  display: inline-block;
  text-align:center;
  font-weight: bold;
  color: #424242;
  float:left;
}

.pairing .names {
  display: inline-block;
  float:left;
  line-height:30px;
  font-size:20px;
  border:0;
  margin:0;
  padding:0;
}

.opponent {
  color:#848484;
}

.pairing .points {
  float:right;
  margin-right:15px;
  font-size: 20px;
}

.border-top {
  border-top: 1px solid #424242;
}

i.pull-left {
  margin-right:15px;
}

.own-tournament {
  clear:left;
}

.own-tournament-header {
  height:50px;
  line-height:50px;
}

.own-tournament-header h3 {
  line-height:50px;
  margin:0;
}

.own-tournament-header i {
  line-height:50px;
}

.pairings-table, .standings-table {
  width:100%;
}

.pairings-table th {
  position: relative;
}

.pairings-table th.players {
  padding-left: 30px;
}

.pairings-table .left {
  position:absolute;
  left:0;
}

.pairings-table .table {
  width: 100px;
  text-align: center;
}

.pairings-table .players {
}

.pairings-table .points, .pairings-table .result {
  width:60px;
  text-align: center;
}

.standings-table .pgw, .standings-table .ogw, .standings-table .omw, .standings-table .points, .standings-table .rank {
  width:50px;
  text-align: center;
}

h3 {
  font-size:20px !important;
}

.inactive {
  color: #cccccc;
}

.organizer-pairings, .organizer-standings {
  text-align: center;
}

.organizer-pairings .pairing-column {
  width:400px;
  display: inline-block;
  margin: 0 10px;
}

.organizer-standings table {
  width:500px;
  display: inline-block;
  margin: 0 20px;
}

.organizer-pairings .pairing.no-round {
  height: 20px;
}

.organizer-pairings .pairing .names, .organizer-pairings .pairing .table-number, .organizer-pairings .pairing .points { 
  line-height:20px;
  font-size:14px;
}

#organizer-menu {
  padding-left:10px;
  height:40px;
  font-size:20px;
  border-bottom: 1px solid #424242;
}

#organizer-menu a, #menu a {
  color: green;
  text-decoration: none !important;
  cursor: pointer;
  font-size: 20px;
}

.organizer-clock {
  color: green;
  font-size: 600px;
  font-weight: bold;
  text-align: center;
}

.organizer-clock.timeout {
  color: red;
}

@media (max-width: 767px) {
  .pairing .table-number {
    line-height: 60px;
    width:60px;
    font-size: 40px;
  }

  .pairing {
    height: 80px;
  }

  .pairing.no-round {
    height: 60px;
  }
}

@media (min-width: 768px) {
  .pairing .table-number {
    line-height: 30px;
    width:30px;
    font-size: 20px;
  }

  .pairing {
    height: 50px;
  }

  .pairing.no-round {
    height: 30px;
  }
}