dev
target/*
!target/mtg-pairings.jar
.project
*.log
*.iml
.lein-*
.nrepl-port
.rebel_readline_history
.classpath
.DS_Store
.git
.shadow-cljs
.idea
node_modules
package.json
package-lock.json
mtg-pairings-win