^{:watch-dirs ["src/cljs" "src/cljc" "env/dev/cljs"]
  :css-dirs   ["resources/public/css" "target/public/css"]
  :open-url   false}
{:main       mtg-pairings-server.dev
 :preloads   [re-frisk.preload]
 :output-to  "target/public/js/dev-main.js"
 :output-dir "target/public/js/dev"}
