{:source-paths ["src/clj" "src/cljc" "src/cljs" "reagent-util/src/cljs"]
 :dependencies [[reagent "0.10.0"]
                [mount "0.1.16"]
                [com.taoensso/sente "1.16.0"]
                [clj-commons/secretary "1.2.4"]
                [venantius/accountant "0.2.5"]
                [com.cognitect/transit-cljs "0.8.264"]
                [com.cognitect/transit-js "0.8.867"]
                [com.andrewmcveigh/cljs-time "0.5.2"]
                [re-frame "1.1.1"]
                [arttuka/reagent-material-ui "4.11.0-3"]
                [re-frisk "1.3.4"]
                [binaryage/devtools "1.0.2"]]
 :builds       {:dev      {:target     :browser
                           :output-dir "target/public/js"
                           :asset-path "/js"
                           :modules    {:dev-main {:entries [mtg-pairings-server.core]}}
                           :devtools   {:preloads [re-frisk.preload devtools.preload]}
                           :js-options {:anon-fn-naming-policy :unmapped}}
                :pairings {:target           :browser
                           :output-dir       "target/public/js"
                           :asset-path       "/js"
                           :modules          {:pairings-main {:entries [mtg-pairings-server.pairings]}}
                           :infer-externs    :auto
                           :compiler-options {:optimizations :advanced}
                           :js-options       {:anon-fn-naming-policy :unmapped}}
                :decklist {:target           :browser
                           :output-dir       "target/public/js"
                           :asset-path       "/js"
                           :modules          {:decklist-main {:entries [mtg-pairings-server.decklist]}}
                           :infer-externs    :auto
                           :compiler-options {:optimizations :advanced}
                           :js-options       {:anon-fn-naming-policy :unmapped}}}}
