{:source-paths ["src/clj" "src/cljc" "src/cljs" "reagent-util/src/cljs"]
 :dependencies [[reagent "0.10.0"]
                [mount "0.1.16"]
                [com.taoensso/sente "1.15.0"]
                [clj-commons/secretary "1.2.4"]
                [venantius/accountant "0.2.5"]
                [com.cognitect/transit-cljs "0.8.256"]
                [com.cognitect/transit-js "0.8.861"]
                [com.andrewmcveigh/cljs-time "0.5.2"]
                [re-frame "0.12.0"]
                [arttuka/reagent-material-ui "4.9.8-0"]
                [thheller/shadow-cljsjs "0.0.21"]
                [re-frisk "0.5.5"]
                [binaryage/devtools "1.0.0"]]
 :builds       {:dev  {:target     :browser
                       :output-dir "target/public/js"
                       :asset-path "/js"
                       :modules    {:dev-main {:entries [mtg-pairings-server.core]}}
                       :devtools   {:preloads [re-frisk.preload devtools.preload]}}
                :pairings {:target           :browser
                           :output-dir       "target/public/js"
                           :asset-path       "/js"
                           :modules          {:pairings-main {:entries [mtg-pairings-server.pairings]}}
                           :infer-externs    :auto
                           :compiler-options {:optimizations :advanced}}
                :decklist {:target           :browser
                           :output-dir       "target/public/js"
                           :asset-path       "/js"
                           :modules          {:decklist-main {:entries [mtg-pairings-server.decklist]}}
                           :infer-externs    :auto
                           :compiler-options {:optimizations :advanced}}}}
